.toggleButton {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 3rem;
  height: 2.4rem;
  background-color: white;
  border: none;
  cursor: pointer;

  .toggleButtonLine {
    width: 2.5rem;
    height: .4rem;
    background-color: #3b5998;
    border-radius: 5%;
  }
}